# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env
# ** Remember to uncomment the .env from your .gitignore file for an app in order to keep environment variables secret **