$warning: #ff0000c7;

@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.center-align {
    @include center-content();
    flex-direction: row;
    justify-content: space-between;
}

.error-message {
    color: $warning;
}

.siblings-list-box {
    @include center-content();
    align-items: start;
}
