<h2> List of Cats </h2>
<hr>
<br>
<div class="center-align">
  <button><a href="/cats/create">Create Cat</a></button>
  <form action="/cats" method="get"><input type="text" name="searchQuery"><button>Search</button></form>
  <div></div>
</div>
<br>
<br>
<hr>

<div class="cats-container">
  {{#each cats}}
  <div class="cat-box">
    <a href="/cats/details/{{this.id}}">{{this.name}}</a>
  </div>
  {{/each}}
</div>